body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f7;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(120deg, #6c63ff, #52ddf6);
    color: white;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 15px;
}

h2 {
    width: fit-content;
    margin: 0 auto 20px;
    border-bottom: 2px solid #6c63ff;
    padding-bottom: 5px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.services ul {
    padding: 0;
}

.services li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 16px;
}
